<h2>Contact CBDB</h2>

<address>
    123 ABC Road,<br />
    Suburb,<br />
    City,<br />
    1234
</address>

<h3></h3>
<address>
    <strong>Phone: </strong>0821234567<br />
    <strong>Email:</strong> <a href="mailto:abc@cbdb.com">viljoen.chris@gmail.com</a>
</address>
